body {
    font-family: 'Righteous';
}

h {
    font-size: 50px;
}

.title-logo {
    color: #FFF;
    font-size: 100px;
}

.count {
    display: inline-block;
    width: 500px;
    text-align: right;
    margin-left: 50px;
}

#login_screen {
    width: 1280px;
    height: 720px;
    background-color: black;
    text-align: center;
    position: relative;
}

.screen-body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-input {
    padding: 10px;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: #00FFFF;
}

.button {
    width: 200px;
    height: 50px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    border: solid #333 2px;
    display: inline-block;
    margin-right: 5px;
    background-color: #FFF;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.button:hover {
    color: #FFBB00;
    background-color: #333;
}